
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="row">
                    <div class="col-9">
                <div class="breadcrumbs-area">
                    <h3><%= title %>s</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <% if(typeof list_heading != "undefined"){ %>
                        <li>
                            <a href="<%= list_url  %>"><%=  list_heading  %></a>
                        </li>
                        <% } %>
                        <% if(typeof main_heading != "undefined"){ %>
                            <li><%= main_heading %></li>
                            <% } %>                        
                    </ul>                   
                    </div> 
                    </div>  
                    <div class="col-3 breadcrumbs-area">
                    <a class="btn btn-large btn-primary" href="<%= typeof active_path != 'undefined' ? active_path:'' %>"><i
                        class="fas fa-redo-alt text-orange-peel"></i></a>
                    </div>
                    </div>
                    
                <!-- Breadcubs Area End Here -->
                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <% if(typeof sub_heading != "undefined"){ %>
                                    <h3><%= sub_heading %></h3>
                                    <% } %>                                
                            </div>
                       
