<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/sidebar %>
<% include ../partials/list-breadcum %>
<% include ../partials/filter %>
<% include ../partials/success %> 

                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> 
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">ID</label>
                                            </div>
                                        </th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Class</th>
                                        <th>Subject</th>
                                        <th>Section</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>E-mail</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (typeof datas != "undefined" && datas != null) { %>
                                        <% for (let data of datas) { %> 
                                    <tr>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <span class="flaticon-more-button-of-three-dots"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="view-teacher/<%= data.id %>"><i
                                                        class="fas fa-eye text-default-peel"></i>View</a>                                      
                                                    <a class="dropdown-item" href="delete-user/<%= data.id %>"><i
                                                            class="fas fa-times text-orange-red"></i>Delete</a>
                                                    <a class="dropdown-item" href="/edit-teacher/<%= data.id %>"><i
                                                            class="fas fa-edit text-dark-pastel-green"></i>Edit</a>
                                                     </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label">#<%= data.teacher_id %></label>
                                            </div>
                                        </td>
                                        <td class="text-center"><img style="width: 100px; height: 70px;" src="uploads/teacher/<%= data.image %>" alt="teacher"></td>
                                        <td><%= data.firstname %> <%= data.lastname %></td>
                                        <td><%= helper.gender_name(data.gender) %></td>
                                        <td><%= data.class %></td>
                                        <td><%= data.subject %></td>
                                        <td><%= data.section_id %></td>
                                        <td><%= data.address %></td>
                                        <td><%= data.phone %></td>
                                        <td><%= data.email %></td>
                                        
                                    </tr>
                                    <% }
                                } %> 

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Teacher Table Area End Here -->
                <% include ../partials/fadeout %>
                <% include ../partials/footer %>
<script>
$('.addNew'). attr("href", '/teacher-admission-form');
</script>                
