<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/sidebar %>
<% include ../partials/list-breadcum %>
</div>
                        <form class="new-added-form" action="/update-parent" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="<%= data.id %>">
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>First Name *</label>
                                    <input type="text" placeholder="" name="firstname" class="form-control" value="<%= data.firstname %>">
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Last Name *</label>
                                    <input type="text" placeholder="" name="lastname" class="form-control" value="<%= data.lastname %>">
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Gender *</label>
                                    <select class="select2" name="gender" >
                                        <option value="">Please Select Gender *</option>
                                        <option value="M" <%= data.gender == 'M' ? 'selected' : '' %>>Male</option>
                                        <option value="F" <%= data.gender == 'F' ? 'selected' : '' %>>Female</option>
                                        <option value="O" <%= data.gender == 'O' ? 'selected' : '' %>>Others</option>
                                    </select>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Id</label>
                                    <input type="text" name="teacher_id" placeholder="" class="form-control" value="<%= data.teacher_id %>">
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Blood Group *</label>
                                    <select class="select2" name="blood_grp">
                                        <option value="">Please Select Group *</option>
                                        <option value="A+" <%= data.blood_grp == 'A+' ? 'selected' : '' %>>A+</option>
                                        <option value="A-" <%= data.blood_grp == 'A-' ? 'selected' : '' %>>A-</option>
                                        <option value="B+" <%= data.blood_grp == 'B+' ? 'selected' : '' %>>B+</option>
                                        <option value="B-" <%= data.blood_grp == 'B-' ? 'selected' : '' %>>B-</option>
                                        <option value="O+" <%= data.blood_grp == 'O+' ? 'selected' : '' %>>O+</option>
                                        <option value="O-" <%= data.blood_grp == 'O-' ? 'selected' : '' %>>O-</option>
                                        <option value="AB+" <%= data.blood_grp == 'AB+' ? 'selected' : '' %>>AB+</option>
                                        <option value="AB-" <%= data.blood_grp == 'AB-' ? 'selected' : '' %> >AB-</option>
                                    </select>
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>E-Mail</label>
                                    <input type="email" name="email" placeholder="" class="form-control" value="<%= data.email %>">
                                </div>
                       
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Phone</label>
                                    <input type="text" placeholder="" name="phone" class="form-control" value="<%= data.phone %>">
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Occupation</label>
                                    <input type="text" placeholder="" name='father_occupation' class="form-control" value="<%= data.father_occupation %>">
                                </div>
                                <div class="col-lg-6 col-12 form-group">
                                    <label>Address</label>
                                    <textarea type="text" placeholder="" name='address' class="textarea form-control" cols="10"
                                    rows="9"><%= data.address %></textarea>
                                </div>
                                <div class="col-lg-6 col-12 form-group mg-t-30">
                                    <label class="text-dark-medium">Upload Teacher Photo (150px X 150px)</label>
                                    <input type="file" class="form-control-file" name="photo">
                                </div>
                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <% include ../partials/footer %>
